<!DOCTYPE html>
	<html>
		<head>
			<!-- Google Tag Manager -->
			    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			    })(window,document,'script','dataLayer','GTM-5VQHB56');</script>
			    <!-- End Google Tag Manager -->
			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VQHB56"
			    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			    <!-- End Google Tag Manager (noscript) -->
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/apps">Apps</a></li>
	    		</ul>
			</nav>
			<h1 id="mgr1">Stock Data Manager for Microsoft Excel</h1>
			<p>
			The Stock Data Manager is a simple add-in for Microsoft Excel that enables users the ability to download historical prices, price returns for global stocks…, including currencies, mutual funds and ETFs. 
			You are able to download data using different frequencies…, including daily, weekly, monthly, quarterly and annually.
			</p>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:contact@todasgroup.com>contact</a></li>
				</ul>
			</footer>
		</body>
	</html>
